<a href="https://colab.research.google.com/github/shlee0619/workPython/blob/main/1205.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초

In [ ]:
# 주석 ctrl + /
# 코드 실행
# 1) ctrl + enter: 커서의 위치가 그대로
# 2) alt + enter: 새로운 셀로 이동(새로 셀을 만듦)
# 3) shift + enter: 새로운 셀로 이동(기존 만들어진 셀)

In [ ]:
# 출력을 해주는 함수
print("안녕 파이썬")

안녕 파이썬

In [ ]:
print("안녕"*10)

안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕

In [ ]:
# 표현식
23
"Hello"
1+2
# + : 연산자

3

In [ ]:
# 문장: 표현식이 모여서 실행할 수 있는 코드
# 한줄의 코드
a = 1+2

In [ ]:
a

3

In [ ]:
print("Hello, Python")

Hello, Python

In [ ]:
# 프로그램: 문장이 모여서 만들어진 코드
import time

def main():
    s = input("몇 초 쉬어야 하나요? ")
    time.sleep(int(s))
    print("Hello")

if __name__ == "__main__":
    main()

몇 초 쉬어야 하나요? 3
Hello

In [ ]:
import time
s = 1
time.sleep(s)
print("Hello")

Hello

## 키워드 & 식별자

In [ ]:
# 키워드 확인하는 방법
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# 식별자
student_name = "Tom"
student_name

'Tom'

In [ ]:
StudentName = "Tom"
StudentName

'Tom'

In [ ]:
class = 1
class

SyntaxError: invalid syntax (<ipython-input-21-e1538c184d80>, line 1)

In [ ]:
_class = 1
_class

1

In [ ]:
$class = 1
$class

SyntaxError: invalid syntax (<ipython-input-23-8130e611091d>, line 1)

In [ ]:
2class = 1
2class

SyntaxError: invalid decimal literal (<ipython-input-24-d218a2b8ef61>, line 1)

In [ ]:
first name = "Tom"
first name
# first name => first_name

SyntaxError: invalid syntax (<ipython-input-25-bfa0530b619f>, line 1)

In [ ]:
# snake_case
# camelCase
# PascalCase
# kebab-case

## 주석

In [ ]:
# 파이썬 주석
a = 1 + 2 # a 는 3으로 저장
a

3

## 문자열

In [ ]:
print("Korea")
print('Korea')

Korea
Korea

In [ ]:
print("Hello", "Korea", "is", "beautiful!")

Hello Korea is beautiful!

In [ ]:
print("안녕")
print('안녕')

안녕
안녕

In [ ]:
print("He said "Hello"")
# SyntaxError: invalid syntax => 구문 오류 = 코드 실행 전에 발생하는 오류 = 보통 오타

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-30-f42fb9687825>, line 1)

In [ ]:
# 오류 수정
print('He said "Hello"')
print("He said 'Hello'")

He said "Hello"
He said 'Hello'

## m => cm 변환 프로그램

In [ ]:
# 1 m = 100 cm
meter = input("키(m)를 입력하세요> ")
meter = float(meter)
height = meter * 100
print(meter, "m 는 cm 로 변환하면 ", height, "cm 입니다.")

키(m)를 입력하세요> 1.75
1.75 m 는 cm 로 변환하면  175.0 cm 입니다.

## inch 를 cm 로 변환하는 프로그램

In [ ]:
# 1 inch = 2.54 cm
inch = input("inch 를 입력하세요> ")
inch = float(inch)
cm = inch * 2.54
print(inch, "inch 는 cm 로 변환하면 ", cm, "cm 입니다.")

inch 를 입력하세요> 32
32.0 inch 는 cm 로 변환하면  81.28 cm 입니다.

# 문자열과 함수

## format

In [ ]:
# 숫자를 문자열로 변환하는 함수
str = "{}".format(23); print(str); print(type(str))

23
<class 'str'>

In [ ]:
"유퀴즈 상금 {} 만원".format(100)

'유퀴즈 상금 100 만원'

In [ ]:
str_a = "{} {}".format(23, 24); print(str_a); str_b = "{} {}".format(23, 24, 25); print(str_b)

23 24
23 24

In [ ]:
"{} {} {}".format(1,2,3)

'1 2 3'

In [ ]:
"{} {} {}".format(1,2)

IndexError: Replacement index 2 out of range for positional args tuple

In [ ]:
"{} {} {}".format(1,2,3,4)

'1 2 3'

In [ ]:
"{}".format(2.3)

'2.3'

In [ ]:
"{} {} {}".format(1,"안녕",True)

'1 안녕 True'

### 정수형

In [ ]:
a = "{:d}".format(23); b = "{:5d}".format(23); c = "{:05d}".format(23); d = "{:05d}".format(-23)
print(a); print(b); print(c); print(d)

23
   23
00023
-0023

In [ ]:
a = "{:d}".format(23) # 정수
b = "{:5d}".format(23) # 자리수 & 남은 자리를 빈칸으로 채움
c = "{:05d}".format(23) # 자리수 & 남은 자리를 0을 채움
d = "{:05d}".format(-23) # 자리수 & 한자리 - 기호 & 남은 자리를 0을 채움
print(a)
print(b)
print(c)
print(d)

23
   23
00023
-0023

In [ ]:
a = "{:+d}".format(23); b = "{:+d}".format(-23); c = "{: d}".format(23); d = "{: d}".format(-23)
print(a); print(b); print(c); print(d)

+23
-23
 23
-23

In [ ]:
a = "{:+d}".format(23) # 양수 기호와 함께 출력
b = "{:+d}".format(-23) # 음수, 무조건 - 기호
c = "{: d}".format(23) # 양수 기호를 생략해서 출력
d = "{: d}".format(-23) # 음수, 무조건 - 기호
print(a)
print(b)
print(c)
print(d)

+23
-23
 23
-23

In [ ]:
a = "{:+5d}".format(23) # 자리수 & 숫자 바로 앞에 기호
b = "{:+5d}".format(-23) #
c = "{:=+5d}".format(23) # 자리수 & 맨 앞에 기호 & 남아있는 자리를 빈칸으로 채움
d = "{:=+5d}".format(-23) #
e = "{:=+05d}".format(23) # 자리수 & 맨 앞에 기호 & 남아있는 자리를 0으로 채움
f = "{:=+05d}".format(-23) #
print(a);print(b);print(c);print(d);print(e);print(f)

  +23
  -23
+  23
-  23
+0023
-0023

In [ ]:
"{:+05d}".format(23) # = 사용할 필요 없음

'+0023'

In [ ]:
"{:=+05d}".format(-23) #

'-0023'

### 실수형

In [ ]:
a = "{:f}".format(23.45) # 실수
b = "{:15f}".format(23.45) # 자리수 & 남은 자리를 빈칸으로 채움
c = "{:+15f}".format(23.45) # 자리수 & 한자리 + 기호 & 남은 자리를 빈칸으로 채움
d = "{:+015f}".format(-23.45) # 자리수 & 한자리 - 기호 맨앞에 & 남은 자리를 0을 채움
print(a);print(b);print(c);print(d)

23.450000
      23.450000
     +23.450000
-0000023.450000

In [ ]:
"{:=+015f}".format(-23.45) # = 사용할 필요 없음

'-0000023.450000'

In [ ]:
a = "{:15.3f}".format(23.456)
b = "{:15.2f}".format(23.456)
c = "{:15.1f}".format(23.456)
d = "{:15.1f}".format(23.45) # 5 보다 커야 반올림
e = "{:15.1f}".format(23.46)
print(a);print(b);print(c);print(d);print(e)

         23.456
          23.46
           23.5
           23.4
           23.5

### 의미가 없는 소수점 제거

In [ ]:
a = "{:g}".format(23.450)
b = "{:g}".format(23.40)
c = "{:g}".format(23.0)
print(a);print(b);print(c)

23.45
23.4
23

### 파이썬 숫자 표현 방식

파이썬에서는 반올림할 때 숫자가 정확하게 똑같이 반으로 쪼개지면 짝수의 정수로 값을 반환하는 특성을 가지고 있음 = 설계가 그렇게 되어 있음

In [ ]:
# 정수 2 와 3 사이의 짝수 2 를 반환
"{:15.0f}".format(2.5)

'              2'

In [ ]:
# 정수 3 과 4 사이의 짝수 4 를 반환
"{:15.0f}".format(3.5)

'              4'

In [ ]:
# 정수 4 와 5 사이의 짝수 4 를 반환
"{:15.0f}".format(4.5)

'              4'

In [ ]:
# 그러나 일반적으로 똑같이 반으로 쪼개지는 실수보다
# 0보다 큰 수를 가지는 실수를 사용하는 경우가 많기 때문에
# 걱정하지 않아도 됨
# 2.5 는 똑같이 반으로 쪼개지는 수이지만
# 2.5123 은 한쪽이 0.5123 을, 다른 한쪽은 0.4877 를 가짐
"{:15.0f}".format(2.5123)

'              3'

In [ ]:
1-0.5123

0.4877

In [ ]:
# 3.5 는 똑같이 반으로 쪼개지는 수이지만
# 3.5111 은 한쪽이 0.5111 을, 다른 한쪽은 0.4889 를 가짐
"{:15.0f}".format(3.51111)

'              4'

In [ ]:
1-0.5111

0.4889

## f 문자열 (참고만 할 것)

In [ ]:
"{}".format(23)

'23'

In [ ]:
f"{23}"

'23'

In [ ]:
"{}".format(2 + 3)

'5'

In [ ]:
f"{2+3}"

'5'

In [ ]:
# format() 함수 사용하는 것이 더 좋은 경우
# 1) 문자열이 많을 때
mc = "유재석"
reward = 100
"""\
유퀴즈 프로그램은 다양한 사람을 만나서 이야기하는 프로이다.
엠씨는 {}이고, 퀴즈를 맞추면 상금 {} 만원을 준다.\
""".format(mc, reward)

'유퀴즈 프로그램은 다양한 사람을 만나서 이야기하는 프로이다.\n엠씨는 유재석이고, 퀴즈를 맞추면 상금 100 만원을 준다.'

In [ ]:
mc = "유재석"
reward = 100
f"""\
유퀴즈 프로그램은 다양한 사람을 만나서 이야기하는 프로이다.
엠씨는 {mc}이고, 퀴즈를 맞추면 상금 {reward} 만원을 준다.\
"""

'유퀴즈 프로그램은 다양한 사람을 만나서 이야기하는 프로이다.\n엠씨는 유재석이고, 퀴즈를 맞추면 상금 100 만원을 준다.'

In [ ]:
# 2) 여러 값을 리스트 형태로 사용할 경우
# 전개연산자
data = ["강백호", 17, "M", "난 천재니까"]
"""\
이름: {},
나이: {},
성별: {},
좌우명: {}\
""".format(*data)

'이름: 강백호,\n나이: 17,\n성별: M,\n좌우명: 난 천재니까'

In [ ]:
data = ["강백호", 17, "M", "난 천재니까"]
f"""\
이름: {data[0]},
나이: {data[1]},
성별: {data[2]},
좌우명: {data[3]}\
"""

'이름: 강백호,\n나이: 17,\n성별: M,\n좌우명: 난 천재니까'

## 공백 제거

In [ ]:
# 양쪽 = both = left & right = 앞 & 뒤
string = "            안녕              "
string.strip()

'안녕'

In [ ]:
# 왼쪽 = left = 앞
string = "            안녕              "
string.lstrip()

'안녕              '

In [ ]:
# 오른쪽 = right = 뒤
string = "            안녕              "
string.rstrip()

'            안녕'

## 현재 날짜 시간

In [ ]:
import datetime
now = datetime.datetime.now()
print(now)
print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)
print(now.weekday())
# 0: 월, 1: 화, 2: 수, 3: 목, 4: 금, 5: 토, 6: 일

2024-12-05 02:15:29.168002
2024
12
5
2
15
29
3

In [ ]:
import datetime
now = datetime.datetime.now()
"{}년 {}월 {}일 {}시 {}분 {}초입니다.".format(now.year, now.month, now.day,
                                     now.hour, now.minute, now.second)

'2024년 12월 5일 2시 15분 29초입니다.'

In [ ]:
# 계절을 알려주는 프로그램
import datetime
now = datetime.datetime.now()
if 3 <= now.month <= 5:
  print("와 봄이야")
if 6 <= now.month <= 8:
  print("야 여름이다")
if 9 <= now.month <= 11:
  print("고독한 가을이야")
if now.month == 12 or 1 <= now.month <= 2:
  print("겨울의 왕국")

겨울의 왕국

In [ ]:
print(now)

2024-12-05 02:15:29.620589

In [ ]:
# 오전 오후를 구별하는 프로그램
import datetime
now = datetime.datetime.now()
korea_hour = now.hour+9
if korea_hour < 12:
  print("현재 오전 {}시입니다. ㅠㅠ".format(korea_hour))
if korea_hour >= 12:
  print("현재 오후 {}시입니다. ^^".format(korea_hour))

현재 오전 11시입니다. ㅠㅠ

## if ~ elif ~ else 조건문

In [ ]:
# 계절을 알려주는 프로그램
import datetime
now = datetime.datetime.now()
if 3 <= now.month <= 5:
  print("와 봄이야")
elif 6 <= now.month <= 8:
  print("야 여름이다")
elif 9 <= now.month <= 11:
  print("고독한 가을이야")
else:
  print("겨울의 왕국")

겨울의 왕국

In [ ]:
# 학점을 알려주는 프로그램
# A: 3.5~4.5
# B: 2.5~3.5
# C: 1.5~2.5
# D: 0~1.5
# F: 0
score = float(input("학점을 입력하세요> "))
if 3.5 <= score <= 4.5:
  print("당신의 학점은 A입니다.")
elif 2.5 <= score < 3.5:
  print("당신의 학점은 B입니다.")
elif 1.5 <= score < 2.5:
  print("당신의 학점은 C입니다.")
elif 0 < score < 1.5:
  print("당신의 학점은 D입니다.")
else:
  print("당신의 학점은 F입니다.")

학점을 입력하세요> 3.0
당신의 학점은 B입니다.

In [ ]:
score = float(input("학점을 입력하세요> "))
if 3.5 <= score <= 4.5:
  print("당신의 학점은 A입니다.")
elif 2.5 <= score:
  print("당신의 학점은 B입니다.")
elif 1.5 <= score:
  print("당신의 학점은 C입니다.")
elif 0 < score:
  print("당신의 학점은 D입니다.")
else:
  print("당신의 학점은 F입니다.")

학점을 입력하세요> 3.0
당신의 학점은 B입니다.

## 조건문에 들어가면 False 로 바뀌는 값

In [ ]:
if None:
  print("None 값은 현재 True입니다.")
else:
  print("None 값은 현재 False입니다.")

None 값은 현재 False입니다.

In [ ]:
if 0:
  print("0 값은 현재 True입니다.")
else:
  print("0 값은 현재 False입니다.")

0 값은 현재 False입니다.

In [ ]:
if []:
  print("리스트 값은 현재 True입니다.")
else:
  print("리스트 값은 현재 False입니다.")

리스트 값은 현재 False입니다.

In [ ]:
if 1:
  print("1 값은 현재 True입니다.")
else:
  print("1 값은 현재 False입니다.")

1 값은 현재 True입니다.

## pass 키워드

In [ ]:
if 4 % 2 == 0:
print("짝수")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-84-f3ef2f22c11e>, line 2)

In [ ]:
if 4 % 2 == 0:
  print("짝수")

짝수

In [ ]:
no = input("숫자(정수)를 입력하세요> ")
last_no = int(no[-1])
if last_no % 2 == 0:
  pass
else:
  pass

숫자(정수)를 입력하세요> 12

In [ ]:
no = input("숫자(정수)를 입력하세요> ")
last_no = int(no[-1])
if last_no % 2 == 0:
  raise NotImplementedError
else:
  raise NotImplementedError

숫자(정수)를 입력하세요> 12

NotImplementedError:

## 전개 연산자

In [ ]:
# 1) 리스트 안에서 사용
a = [1,2,3]
b = [*a] # 비파괴적 처리 != append 함수와 다름
c = [*a, *a]
print(a);print(b);print(c)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 1, 2, 3]

In [ ]:
a = [1,2,3]
b = a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
None

In [ ]:
a = [1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [ ]:
a = [1,2,3]
b = [*a, 4]
print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4]

In [ ]:
# 2) 함수에서 사용
print(a)
print(*a)
print(1,2,3) # 가변매개변수

[1, 2, 3]
1 2 3
1 2 3

## 중첩 리스트와 중첩 반복문

In [ ]:
list_of_list = [
    [1, 2, 3],
    [4, 5, 6, 7],
    [8, 9]
]

for items in list_of_list:
    print(items)

[1, 2, 3]
[4, 5, 6, 7]
[8, 9]

In [ ]:
list_of_list = [
    [1, 2, 3],
    [4, 5, 6, 7],
    [8, 9]
]

for items in list_of_list:
    for item in items:
        print(item)

1
2
3
4
5
6
7
8
9

## 여러 개 값을 가지는 딕셔너리

In [ ]:
# 여러 개의 값을 가지는 딕셔너리 생성
bs = {
    "선수": ["채치수","정대만","송태섭","강백호","서태웅"],
    "감독": ["안감독"],
    "매니저": ["한나"]
}
print(bs)

{'선수': ['채치수', '정대만', '송태섭', '강백호', '서태웅'], '감독': ['안감독'], '매니저': ['한나']}

## 값을 보여주는 함수

In [ ]:
# 존재하는 키로 값 보기
bs["감독"]

['안감독']

In [ ]:
# 존재하지 않는 키로 값 보기 = KeyError
bs["감독님"]

KeyError: '감독님'

In [ ]:
# 존재하지 않는 키로 값 보기 = 에러 없이 결과가 없다는 내용
bs.get("감독")

['안감독']

In [ ]:
value = bs.get("감독님")
print(value)

None

## 중첩 반복문으로 피라미드 만들기

In [ ]:
# 1)
output = ""

for i in range(1, 10):
    for j in range(0, i):
        output += "*"
    output += "\n"

print(output)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
# 2)
output = ""

for i in range(1, 15):
    for j in range(14, i, -1):
        output += ' '
    for k in range(0, 2 * i - 1):
        output += '*'
    output += '\n'

print(output)

             *
            ***
           *****
          *******
         *********
        ***********
       *************
      ***************
     *****************
    *******************
   *********************
  ***********************
 *************************
***************************

In [ ]:
list(range(14, 1, - 1))

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
output = ""

for i in range(1, 15):
    for j in range(i, 15):
        output += ' '
    for k in range(0, i * 2 - 1):
        output += '*'
    output += '\n'

print(output)

              *
             ***
            *****
           *******
          *********
         ***********
        *************
       ***************
      *****************
     *******************
    *********************
   ***********************
  *************************
 ***************************

## 시간 기반으로 반복

In [ ]:
# 유닉스 타임
import time
time.time()

1733369207.4282877

In [ ]:
import time
number = 0
target = time.time() + 3
while time.time() < target:
  number += 1
print(number)
# 3초 동안 반복한 횟수

14208812

# 함수

In [ ]:
def test(x):
  return x + 2

In [ ]:
test(2)

4

In [ ]:
# 함수의 형태
# 매개변수 O & 반환값 O
def plus1(x, y):
  return x + y
# 매개변수 O & 반환값 X
def plus2(x, y):
  print(x + y)
# 매개변수 X & 반환값 O
def plus3():
  return 2 + 3
# 매개변수 X & 반환값 X
def plus4():
  print(2 + 3)

In [ ]:
plus1(2, 3)

5

In [ ]:
plus2(2, 3)

5

In [ ]:
plus3()

5

In [ ]:
plus4()

5

In [ ]:
a = plus1(2, 3)
b = plus2(2, 3)
c = plus3()
d = plus4()

5
5

In [ ]:
a = plus1(2, 3)

In [ ]:
b = plus2(2, 3) # print() 출력

5

In [ ]:
c = plus3()

In [ ]:
d = plus4() # print() 출력

5

In [ ]:
print(a)
print(b) # 반환값이 없으면 None
print(c)
print(d) # 반환값이 없으면 None

5
None
5
None

## reversed, reverse 함수

In [ ]:
# reversed
list_a = [1,2,3,4,5]
list_b = reversed(list_a)
print(list_a)
print(list_b) # 이터레이터 객체
print(list(list_b))
# 역반복문
for i in reversed(list_a):
  print(i)

[1, 2, 3, 4, 5]
<list_reverseiterator object at 0x7f05a8419a50>
[5, 4, 3, 2, 1]
5
4
3
2
1

In [ ]:
temp = reversed([1, 2, 3, 4, 5])
for i in temp:
  print("first: {i}", format(i))
for i in temp:
  print("second: {i}", format(i))
# 첫번째 반복문 결과만 나옴 => 함수의 결과가 제너레이터
# reversed() 함수와 반복문을 함께 사용할 때는 함수의 결과를 temp 로 저장하여 사용하지 않고,
# for 구문 내부에서 바로 사용하면 됨

first: {i} 5
first: {i} 4
first: {i} 3
first: {i} 2
first: {i} 1

In [ ]:
# 오류 수정
temp = [1, 2, 3, 4, 5, 6]
for i in reversed(temp):
  print("first: {i}", format(i))
for i in reversed(temp):
  print("second: {i}", format(i))

first: {i} 6
first: {i} 5
first: {i} 4
first: {i} 3
first: {i} 2
first: {i} 1
second: {i} 6
second: {i} 5
second: {i} 4
second: {i} 3
second: {i} 2
second: {i} 1

In [ ]:
# reverse
list_a = [1,2,3,4,5]
list_b = list_a.reverse()
print(list_a) # 파괴적 처리
print(list_b) # 반환값이 없음

[5, 4, 3, 2, 1]
None

In [ ]:
list_a = [1,2,3,4,5]
list_a.reverse()
print(list_a)

[5, 4, 3, 2, 1]

## 이터레이터

In [ ]:
a = [1,2,3]
b = reversed(a)
print(b)
print(list(b))
print(list(b)) # 제네레이터 = 코드 조금씩 실행 = 메모리 효율성

<list_reverseiterator object at 0x7f05a841a050>
[3, 2, 1]
[]

In [ ]:
a = [1,2,3]
b = list(reversed(a))
print(b);print(b)

[3, 2, 1]
[3, 2, 1]

In [ ]:
print(b)

[3, 2, 1]

In [ ]:
# 제네레이터 함수 실행
a = [1,2,3]
b = reversed(a)
print(next(b))
print(next(b))
print(next(b))

3
2
1

In [ ]:
print(next(b))

StopIteration:

## 리스트 컴프리헨션

In [ ]:
# 리스트 컴프리헨션 문법을 모른다면
list_a = []
list_b = []
for i in range(1,5+1):
  list_a.append(i)
  list_b.append(i ** 2)

print(list_a);print(list_b)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [ ]:
# 리스트 컴프리헨션 문법으로 재현
list_c = [i for i in range(1,5+1)]
list_d = [i ** 2 for i in range(1,5+1)]
print(list_c)
print(list_d)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [ ]:
# 필터링 = 조건문 추가
result = []
for i in range(5):
  if i % 2 == 1:
    result.append(i)

result

[1, 3]

In [ ]:
result = [i for i in range(5) if i % 2 == 1]
result

[1, 3]

In [ ]:
# 과일만 리스트로 저장
# 가독성을 위해 줄바꿈
list_a = ["사과", "참외", "수박", "토마토"]
fruit = [i # 표현식(값 표현)
         for i in list_a # 반복문
         if i != "토마토"] # 조건문
print(fruit)

['사과', '참외', '수박']

## 구문 내부에 여러 문자열 사용시 문제점

### 들여쓰기 문제

In [ ]:
# 홀수, 짝수 구분하는 프로그램
number = int(input("정수를 입력하세요> "))
if number % 2 == 0: # 짝수
  print("""\
  입력한 숫자는 {}입니다.
  {}는 짝수입니다.\
  """.format(number, number))
else: # 홀수
  print("""\
  입력한 숫자는 {}입니다.
  {}는 홀수입니다.\
  """.format(number, number))
# 같이 들여쓰기가 되는 문제점

정수를 입력하세요> 5
  입력한 숫자는 5입니다.
  5는 홀수입니다.

In [ ]:
# 들여쓰기가 되는 문제를 해결해보자
number = int(input("정수를 입력하세요> "))
if number % 2 == 0: # 짝수
  print("""\
입력한 숫자는 {}입니다.
{}는 짝수입니다.\
  """.format(number, number))
else: # 홀수
  print("""\
입력한 숫자는 {}입니다.
{}는 홀수입니다.\
  """.format(number, number))
# 문장 안에서 들여쓰기 통일성이 없어짐 = 코드의 일관성이 없음 = 가독성이 떨어짐

정수를 입력하세요> 5
입력한 숫자는 5입니다.
5는 홀수입니다.

In [ ]:
# 문제 해결 = \n 사용
number = int(input("정수를 입력하세요> "))
if number % 2 == 0: # 짝수
  print("입력한 숫자는 {}입니다.\n{}는 짝수입니다.".format(number, number))
else: # 홀수
  print("입력한 숫자는 {}입니다.\n{}는 홀수입니다.".format(number, number))

정수를 입력하세요> 5
입력한 숫자는 5입니다.
5는 홀수입니다.

### 괄호로 문자열 연결하기

In [ ]:
# 소괄호로 문자 연결 => , 없이 사용해야 함!
a = (
    "나는 "
    "여름을 "
    "좋아합니다"
)
print(a)
print(type(a))

나는 여름을 좋아합니다
<class 'str'>

In [ ]:
a = (
    "나는 ",
    "여름을 ",
    "좋아합니다"
)
print(a)
print(type(a))

('나는 ', '여름을 ', '좋아합니다')
<class 'tuple'>

In [ ]:
# 한 줄이 아닌 여러 줄
a = (
    "나는 \n"
    "여름을 \n"
    "좋아합니다"
)
print(a)
print(type(a))

나는
여름을
좋아합니다
<class 'str'>

In [ ]:
number = int(input("정수를 입력하세요> "))
if number % 2 == 0: # 짝수
  print(("입력한 숫자는 {}입니다.\n"
         "{}는 짝수입니다.").format(number, number))
else: # 홀수
  print(("입력한 숫자는 {}입니다.\n"
         "{}는 홀수입니다.").format(number, number))

정수를 입력하세요> 5
입력한 숫자는 5입니다.
5는 홀수입니다.

### join()

In [ ]:
print("".join("괄호로 ", "문자열을 하나로 ", "연결해보자"))

TypeError: str.join() takes exactly one argument (3 given)

In [ ]:
# 에러 해결 = 리스트 = 대괄호
print("".join(["괄호로 ", "문자열을 하나로 ", "연결해보자"]))

괄호로 문자열을 하나로 연결해보자

In [ ]:
print("-".join(["010", "1234", "5678"]))
print(" ".join(["010", "1234", "5678"]))
print("|".join(["010", "1234", "5678"]))

010-1234-5678
010 1234 5678
010|1234|5678

In [ ]:
number = int(input("정수를 입력하세요> "))
if number % 2 == 0: # 짝수
  print("\n".join(["입력한 숫자는 {}입니다.", "{}는 짝수입니다."]).format(number, number))
else: # 홀수
  print("\n".join(["입력한 숫자는 {}입니다.", "{}는 홀수입니다."]).format(number, number))

정수를 입력하세요> 5
입력한 숫자는 5입니다.
5는 홀수입니다.

## 사용자 정의 함수

### 일반 매개변수/키워드 매개변수

In [ ]:
# 일반 매개변수 = 값을 순서대로 입력해야 함
# 입력한 값을 n 번 반복하는 함수
def print_n_times(value, n):
  for i in range(n): # n 은 반드시 정수
    print(value) # 무슨 값이든 상관 없음

print_n_times("안녕", 3)

안녕
안녕
안녕

In [ ]:
# 키워드 매개변수
print_n_times(value = "안녕", n = 3)
# 키워드로 모두 사용할 때는 상관없음

안녕
안녕
안녕

In [ ]:
print_n_times(n = 3, value = "안녕")
# 순서 상관 없음

안녕
안녕
안녕

In [ ]:
# 위치 매개 변수 먼저 입력 후 키워드 매개변수 입력
print_n_times("안녕", n = 3)
# 일반 매개변수 > 키워드 매개변수

안녕
안녕
안녕

In [ ]:
print_n_times(n = 3, "안녕")
# 일반 매개변수 > 키워드 매개변수

SyntaxError: positional argument follows keyword argument (<ipython-input-162-2e9a32d7028f>, line 1)

### 매개변수와 관련된 TypeError

In [ ]:
# 함수를 호출할 때, 매개변수를 넣지 않거나 더 많이 넣으면 발생
print_n_times()
# 매개변수 value, n이 없다는 오류 발생

TypeError: print_n_times() missing 2 required positional arguments: 'value' and 'n'

In [ ]:
print_n_times("안녕")
# 매개변수 n이 없다는 오류 발생

TypeError: print_n_times() missing 1 required positional argument: 'n'

In [ ]:
print_n_times("안녕", 5, 10)
# 매개변수 2개가 필요한데, 3개가 주어졌다는 오류 발생

TypeError: print_n_times() takes 2 positional arguments but 3 were given

In [ ]:
print_n_times("안녕", 3/2) # range 에 정수형이 들어 가야하기 때문에 오류 발생

TypeError: 'float' object cannot be interpreted as an integer

### 기본매개변수

In [ ]:
# 기본 매개변수 = 기본값을 가지는 매개변수
def print_n_times(value, n = 3):
  for i in range(n): # n 은 반드시 정수
    print(value) # 무슨 값이든 상관 없음

print_n_times("안녕")
# 일반 매개변수 > 기본 매개변수

안녕
안녕
안녕

In [ ]:
print_n_times("안녕", n = 5)

안녕
안녕
안녕
안녕
안녕

In [ ]:
def print_n_times(n = 3, value):
  for i in range(n): # n 은 반드시 정수
    print(value) # 무슨 값이든 상관 없음

print_n_times("안녕")
# 일반 매개변수 > 기본 매개변수

SyntaxError: non-default argument follows default argument (<ipython-input-168-78f70f85a1bc>, line 1)

### 가변매개변수

In [ ]:
# def 함수 이름(매개변수, 매개변수, ..., *가변매개변수):
#    명령어

In [ ]:
# 가변 매개변수 = 입력할 수 있는 값의 개수 제한이 없음
# 일반 매개변수 뒤에 와야 함
def print_n_times(n, *values):
  for i in range(n): # n 은 반드시 정수
    for j in values:
      print(j)

print_n_times(3, "안녕", "파이썬", "재밌니")
# 일반 매개변수 > 가변 매개변수

안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니

In [ ]:
print_n_times("안녕", "파이썬", "재밌니", n = 3)
# 일반 매개변수 > 가변 매개변수

TypeError: print_n_times() got multiple values for argument 'n'

In [ ]:
def print_n_times(*values, n):
  for i in range(n): # n 은 반드시 정수
    for j in values:
      print(j)

print_n_times("안녕", "파이썬", "재밌니", 3)
# 가변 매개변수의 값이 어디까지인지 알기 어려움

TypeError: print_n_times() missing 1 required keyword-only argument: 'n'

In [ ]:
print_n_times("안녕", "파이썬", "재밌니", n = 3)

안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니

In [ ]:
def print_n_times(*values, n = 3):
  for i in range(n): # n 은 반드시 정수
    for j in values:
      print(j)

print_n_times("안녕", "파이썬", "재밌니", 3)
print_n_times("안녕", "파이썬", "재밌니")
print_n_times("안녕", "파이썬", "재밌니", n = 2)
# 가변 매개변수 > 키워드 매개변수

안녕
파이썬
재밌니
3
안녕
파이썬
재밌니
3
안녕
파이썬
재밌니
3
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니

### 가변 매개변수와 기본 매개변수를 함께 사용해보자

In [ ]:
# 기본 매개변수가 가변 매개변수 앞에 오는 경우
def print_n_times(n = 2, *values):
  for i in range(n): # n 은 반드시 정수
    for j in values:
      print(j)

print_n_times("안녕", "파이썬", "재밌니")
# 기본 매개변수 > 가변 매개변수
# 기본 매개변수 사용이 안되었으므로 의미가 사라짐

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
print_n_times(n= 2, "안녕", "파이썬", "재밌니")

SyntaxError: positional argument follows keyword argument (<ipython-input-181-917f0e74e6e9>, line 1)

In [ ]:
def print_n_times(*values, n = 2):
  for i in range(n): # n 은 반드시 정수
    for j in values:
      print(j)

In [ ]:
print_n_times("안녕", "파이썬", "재밌니", n= 3)

안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니

In [ ]:
# 기본 매개변수가 가변 매개변수 앞에 오는 경우
def print_n_times(n = 2, *values):
  for i in range(n): # n 은 반드시 정수
    for j in values:
      print(j)

print_n_times(3, "안녕", "파이썬", "재밌니")
# 일반 매개변수 > 가변 매개변수

안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니

In [ ]:
# 기본 매개변수가 가변 매개변수 앞에 오는 경우
def print_n_times(n = 2, *values):
  for i in range(n): # n 은 반드시 정수
    for j in values:
      print(j)

print_n_times(n = 3, "안녕", "파이썬", "재밌니")
# 기본 매개변수의 의미가 사라짐

SyntaxError: positional argument follows keyword argument (<ipython-input-182-2fd99d55b7cb>, line 7)

In [ ]:
# 기본 매개변수가 가변 매개변수 앞에 오는 경우
def print_n_times(n = 2, *values):
  for i in range(n): # n 은 반드시 정수
    for j in values:
      print(j)

print_n_times("안녕", "파이썬", "재밌니", n = 2)
# 기본 매개변수의 의미가 사라짐

TypeError: print_n_times() got multiple values for argument 'n'

In [ ]:
# 기본 매개변수가 가변 매개변수 뒤에 오는 경우
def print_n_times(*values, n = 3):
  for i in range(n): # n 은 반드시 정수
    for j in values:
      print(j)

# 가변매개변수 뒤에 기본매개변수
print_n_times("안녕", "파이썬", "재밌니")
# 기본값이므로 n = 3 생략 가능
print_n_times("안녕", "파이썬", "재밌니", n = 3)
# 가변 매개변수 > 키워드 매개변수

안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니

In [ ]:
# 키워드 매개변수 형태로 사용해야 함 = 이름 지정
print_n_times("안녕", "파이썬", "재밌니", 5)
# 이름 없이 값만 넣으면 가변 매개변수로 처리됨
# 가변 매개변수가 우선이 되버림

안녕
파이썬
재밌니
5
안녕
파이썬
재밌니
5
안녕
파이썬
재밌니
5

In [ ]:
# 매개변수의 이름을 지정해서 입력
# 가변매개변수 뒤에서 사용
print_n_times("안녕", "파이썬", "재밌니", n = 2)
# 가변 매개변수 > 키워드 매개변수

안녕
파이썬
재밌니
안녕
파이썬
재밌니

### 키워드 매개변수를 사용하면 좋은 점

In [ ]:
# 키워드 매개변수를 사용하면 좋은 점
# 순서 고려하지 않아도 됨
def test(a, b = 3, c = 4):
  print(a + b + c)

In [ ]:
# 1) 기본 형태로 사용 = 매개변수 순서대로 입력
test(2,4,6)

12

In [ ]:
test(2)
# a = 2

9

In [ ]:
# 2) 키워드 매개변수로 입력
test(a = 2)

9

In [ ]:
test(a = 2, b = 4, c = 7)

13

In [ ]:
# 3) 키워드 매개변수 순서를 바꿔 입력
test(c = 7, b = 4, a = 2)

13

In [ ]:
# 4) 키워드 매개변수 일부만 사용
test(a = 2, c = 7)
# b = 3

12

In [ ]:
test(2, c = 7)
# a = 2, b = 3

12

### 키워드 가변매개변수

In [ ]:
def print_n_times(n = 3, **values):
  print(values)
  for i in range(n): # n 은 반드시 정수
    print("{first}".format(**values))
    print("{second}".format(**values))
    print("{third}".format(**values))

print_n_times(first = "안녕", second = "파이썬", third = "재밌니")
# 키워드 가변매개변수는 맨 마지막에 사용
# 키워드 매개변수 > 키워드 가변 매개변수

{'first': '안녕', 'second': '파이썬', 'third': '재밌니'}
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니

In [ ]:
print_n_times(n = 5, first = "안녕", second = "파이썬", third = "재밌니")

{'first': '안녕', 'second': '파이썬', 'third': '재밌니'}
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니

In [ ]:
print_n_times(first = "안녕", second = "파이썬", third = "재밌니", n = 5)

{'first': '안녕', 'second': '파이썬', 'third': '재밌니'}
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니

In [ ]:
def print_n_times(**values, n = 3):
  print(values)
  for i in range(n): # n 은 반드시 정수
    print("{first}".format(**values))
    print("{second}".format(**values))
    print("{third}".format(**values))

print_n_times(first = "안녕", second = "파이썬", third = "재밌니")

SyntaxError: invalid syntax (<ipython-input-197-b7a1ade2b8e2>, line 1)

## 입력한 값을 모두 더하는 함수

In [ ]:
# 일반매개변수
def sum_all(start, end):
  output = 0
  for i in range(start, end+1):
    output += i
  return output

In [ ]:
# 일반매개변수로 사용 = 순서대로 입력
sum_all(1,3)

6

In [ ]:
# 키워드 매개변수로 사용 = 순서 상관 없음
sum_all(start = 1, end = 3)

6

In [ ]:
sum_all(end = 3, start = 1)

6

In [ ]:
# 기본매개변수
# 간격을 추가해서 합계
def sum_all(start = 1, end = 10, step = 2):
  output = 0
  for i in range(start, end+1, step):
    output += i
  return output

In [ ]:
sum_all()
# 1 + 3 + 5 + 7 + 9

25

In [ ]:
# 일반매개변수로 사용 = 순서대로 입력
sum_all(1, 5, 2)
# 1 + 3 + 5

9

In [ ]:
# 키워드 매개변수로 사용 = 순서 상관 없음
sum_all(start = 1, end = 5, step = 2)

9

In [ ]:
sum_all(step = 2, start = 1, end = 5)

9

In [ ]:
# 키워드 매개변수 일부만 사용
sum_all(start = 1, step = 2)
# end = 10
# 1 + 3 + 5 + 7 + 9

25

# 함수의 활용

## 재귀함수

In [ ]:
# 팩토리얼
# 반복문으로 구현

# 숫자 순서대로
def factorial(n):
  output = 1
  for i in range(1,n+1):
    output *= i
  return output

In [ ]:
print(factorial(1))
print(factorial(2))
print(factorial(3))

1
2
6

In [ ]:
# 숫자 순서 반대로
def factorial(n):
  output = 1
  for i in range(n,1-1,-1):
    output *= i
  return output

In [ ]:
print(factorial(1))
print(factorial(2))
print(factorial(3))

1
2
6

In [ ]:
# 재귀함수로 구현
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)
    # n = 3
    # 3 * factorial(2)
    # 3 * 2 * factorial(1)
    # 3 * 2 * 1 * factorial(0)
    # 3 * 2 * 1 * 1 = 6

In [ ]:
print(factorial(1))
print(factorial(2))
print(factorial(3))

1
2
6

## 피보나치 수열

In [ ]:
# 피보나치 수열 = 앞의 두 숫자를 합한게 다음 숫자
def fibonacci(n):
  if n == 1:
    return 1
  elif n == 2:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)
    # n = 3
    # f(3) = f(2) + f(1) = 1 + 1 = 2
    # n = 4
    # f(4) = f(3) + f(2) = f(2) + f(1) + 1 = 2 + 1 = 3

In [ ]:
print(fibonacci(1))
print(fibonacci(2))
print(fibonacci(3))
print(fibonacci(4))
print(fibonacci(5))

1
1
2
3
5

In [ ]:
print(fibonacci(25))

75025

In [ ]:
print(fibonacci(50)) # 같은 계산 반복하는 문제 발생

KeyboardInterrupt:

## 변수 사용 범위

In [ ]:
def test(y):
  print(x)
  y = 4 # 지역 변수
  print("함수 내부: ", y)

x = 2 # 전역 변수
test(x)
print("\n")
print("프로그램 전체: ", x)
print("\n")
print("함수 내부: ", y) # 함수 내부에서만 사용 가능하기 때문에 오류 발생

2
함수 내부:  4


프로그램 전체:  2

NameError: name 'y' is not defined

## 키워드 global

In [ ]:
def test():
  s = "지역변수"
  print(s)

test()
print(s) # 지역 변수는 함수 실행이 끝나면 사라지기 때문

지역변수

NameError: name 's' is not defined

In [ ]:
def test():
  s = "지역변수"
  print(s)

s = "전역변수"
test()
print(s)

지역변수
전역변수

In [ ]:
def test():
  global s
  s = "지역변수"
  print(s)

s = "전역변수"
test()
print(s) # global 선언으로 같은 주소를 사용하는 변수 = 같은 변수
# s 값 변경: 전역변수 => 지역변수

지역변수
지역변수

In [ ]:
# 재귀 함수 사용 횟수 계산
# 함수 밖에 있는 변수 참조하기 위해서 global 키워드가 필요
count = 0
def fibonacci(n):
  global count
  count += 1
  if n == 1:
    return 1
  elif n == 2:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(1))
print(count)
# fibonacci(1) 1회

1
1

In [ ]:
count = 0
def fibonacci(n):
  global count
  count += 1
  if n == 1:
    return 1
  elif n == 2:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(2))
print(count)
# fibonacci(2) 1회

1
1

In [ ]:
count = 0
def fibonacci(n):
  global count
  count += 1
  if n == 1:
    return 1
  elif n == 2:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(3))
print(count)
# fibonacci(3) 1회
# fibonacci(2) 1회
# fibonacci(1) 1회
# 총 3회

2
3

In [ ]:
count = 0
def fibonacci(n):
  global count
  count += 1
  if n == 1:
    return 1
  elif n == 2:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(25))
print(count)

75025
150049

In [ ]:
# global 키워드가 없는 경우
count = 0
def fibonacci(n):
  # global count # 여기에 global 키워드 넣어야 에러 없음
  count += 1
  if n == 1:
    return 1
  elif n == 2:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)
print(fibonacci(25))
print(count)

UnboundLocalError: local variable 'count' referenced before assignment

## 메모화

In [ ]:
f_dict = {
    1: 1,
    2: 1
}
# 조기리턴
def fibonacci(n): # n 은 딕셔너리 키
  if n in f_dict:
    return f_dict[n] # 존재하는 키의 값을 가져오는 경우 = 계산한 것이 있음
  output = fibonacci(n-1) + fibonacci(n-2)
  f_dict[n] = output # 존재하지 않는 키의 값을 저장하는 경우 = 계산한 것이 없음
  return output

In [ ]:
print(fibonacci(50))

12586269025

In [ ]:
f_dict

{1: 1,
 2: 1,
 3: 2,
 4: 3,
 5: 5,
 6: 8,
 7: 13,
 8: 21,
 9: 34,
 10: 55,
 11: 89,
 12: 144,
 13: 233,
 14: 377,
 15: 610,
 16: 987,
 17: 1597,
 18: 2584,
 19: 4181,
 20: 6765,
 21: 10946,
 22: 17711,
 23: 28657,
 24: 46368,
 25: 75025,
 26: 121393,
 27: 196418,
 28: 317811,
 29: 514229,
 30: 832040,
 31: 1346269,
 32: 2178309,
 33: 3524578,
 34: 5702887,
 35: 9227465,
 36: 14930352,
 37: 24157817,
 38: 39088169,
 39: 63245986,
 40: 102334155,
 41: 165580141,
 42: 267914296,
 43: 433494437,
 44: 701408733,
 45: 1134903170,
 46: 1836311903,
 47: 2971215073,
 48: 4807526976,
 49: 7778742049,
 50: 12586269025}

In [ ]:
# 조기리턴 사용하지 않는 경우
def fibonacci(n): # n 은 딕셔너리 키
  if n in f_dict:
    return f_dict[n] # 존재하는 키의 값을 가져오는 경우 = 계산한 것이 있음
  else:
    output = fibonacci(n-1) + fibonacci(n-2)
    f_dict[n] = output # 존재하지 않는 키의 값을 저장하는 경우 = 계산한 것이 없음
    return output

## 리스트 평탄화

In [ ]:
# 2차원 리스트 반복문 2번 사용해서 평탄화
# 실제로 중괄호가 몇 번 나올지 예상할 수 없음
def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += item # 리스트인 경우 추가(리스트 추가)
        else:
            output.append(item) # 리스트가 아닌 경우 추가(요소 추가)
    return output
    # 여전히 리스트 [5, 6] 가 풀어지지 않음 => 다시 반복문 사용해야 함

In [ ]:
a = [[1,2,3], [4, [5, 6]], 7, [8,9]]
print(a)
print(flatten(a))

[[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
[1, 2, 3, 4, [5, 6], 7, 8, 9]

In [ ]:
# 위 과정을 순서대로 쉽게 바꿔보면?
output = []
output += [1,2,3]
output += [4, [5, 6]]
output.append(7)
output += [8,9]
output

[1, 2, 3, 4, [5, 6], 7, 8, 9]

In [ ]:
# 재귀함수로 해결 가능
def flatten(data):
  output = []
  for i in data: # 반복
    if type(i) == list: # 리스트인 경우
      output += flatten(i) # 재귀함수로 변경 = 리스트가 아닐 때까지 반복
    else: # 요소인 경우
      output.append(i) # 요소 추가
  return output
# [1,2,3] => flatten([1,2,3]) => 리스트 아니므로 요소 추가
# [4, [5, 6]] => flatten([4, [5, 6]]) => 4는 요소 추가
# [5, 6] => flatten([5, 6]) => 리스트 아니므로 요소 추가
# 7 => 리스트 아니므로 요소 추가
# [8,9] => flatten([8,9]) => 리스트 아니므로 요소 추가

In [ ]:
a = [[1,2,3], [4, [5, 6]], 7, [8,9]]
print(a)
print(flatten(a))

[[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def flatten(data):
  output = []
  for i in data: # 반복
    if type(i) == list: # 리스트인 경우
      output += flatten(i) # 리스트가 아닐 때까지 반복
    else: # 요소인 경우
      output += i # 요소 추가가 아닌 리스트 연결
  return output
a = [[1,2,3], [4, [5, 6]], 7, [8,9]]
print(a)
print(flatten(a))

[[1, 2, 3], [4, [5, 6]], 7, [8, 9]]

TypeError: 'int' object is not iterable

In [ ]:
def flatten(data):
  output = []
  for i in data: # 반복
    if type(i) == list: # 리스트인 경우
      output += flatten(i) # 리스트가 아닐 때까지 반복
    else: # 요소인 경우
      output.extend(i) # 요소 추가가 아닌 리스트 연결
  return output
a = [[1,2,3], [4, [5, 6]], 7, [8,9]]
print(a)
print(flatten(a))

[[1, 2, 3], [4, [5, 6]], 7, [8, 9]]

TypeError: 'int' object is not iterable

# 콜백 함수

In [ ]:
# 함수의 매개변수에 사용하는 함수 = 콜백 함수
def repeat_10(x):
  for i in range(10):
    x() # 함수 호출 = print_hi() = print("hi")
def print_hi():
  print("hi")
repeat_10(print_hi) # print_hi = 콜백 함수

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

## map

In [ ]:
# 함수를 매개변수로 사용하는 대표적인 표준함수
# map 함수 = 콜백 함수 적용 결과 값
def sqr(x):
  return x ** 2

list_a = [1,2,3]
output_map = map(sqr, list_a)
print(output_map) # 제너레이터
print(list(output_map)) # 리스트로 반환

<map object at 0x7c0b586ae8f0>
[1, 4, 9]

In [ ]:
# list 를 사용하지 않는다면 다음처럼 코딩하는 것이 좋음
def sqr(x):
  return x ** 2

list_a = [1,2,3]
for i in map(sqr, list_a):
  print(i)

1
4
9

### map 의 기타 기능

In [ ]:
# 2개 이상의 시퀀스 자료형 처리 = zip 함수
def test(x, y):
  return x + y

list_a = [1,2,3]
output_map = map(test, list_a, list_a)
print(output_map) # 제너레이터
print(list(output_map)) # 리스트로 반환

<map object at 0x7c0b586aec50>
[2, 4, 6]

In [ ]:
# 람다 문법으로 변경
test = lambda x, y: x + y

list_a = [1,2,3]
output_map = map(test, list_a, list_a)
print(output_map) # 제너레이터
print(list(output_map)) # 리스트로 반환

<map object at 0x7c0b586c8e20>
[2, 4, 6]

In [ ]:
# 리스트 컴프리헨션 문법으로 변경
list_a = [1,2,3]
[x + y for x, y in zip(list_a, list_a)]

[2, 4, 6]

In [ ]:
# 필터링 기능
# 짝수인 경우에만 적용
# 람다 문법
list_a = [1,2,3,4,5,6]
output_map = map(lambda x: x ** 2 if x % 2 == 0 else x, list_a)
print(output_map) # 제너레이터
print(list(output_map)) # 리스트로 반환

<map object at 0x7c0b59f73190>
[1, 4, 3, 16, 5, 36]

In [ ]:
# 리스트 컴프리헨션 문법으로 변경
list_a = [1,2,3,4,5,6]
[x ** 2 if x % 2 == 0 else x for x in list_a]

[1, 4, 3, 16, 5, 36]

## reduce

In [ ]:
from functools import reduce

def x_plus_y(x, y):
  return x + y

list_a = [1,2,3,4,5,6]

reduce(x_plus_y, list_a)
# 1 + 2 = 3
# 3 + 3 = 6
# 6 + 4 = 10
# 10 + 5 = 15
# 15 + 6 = 21

21

In [ ]:
from functools import reduce
list_a = [1,2,3,4,5,6]
reduce(lambda x, y: x + y, list_a)
# 1 + 2 = 3
# 3 + 3 = 6
# 6 + 4 = 10
# 10 + 5 = 15
# 15 + 6 = 21

21

In [ ]:
# 다음 코드처럼 바꿔보면 좀 더 이해하기 쉬움
x = 0
list_a = [1,2,3,4,5,6]
for i in list_a:
  x += i

print(x)

21

## filter

In [ ]:
# filter 함수 = 콜백 함수 적용 결과 중에서 True 인 것
def under_3(x):
  return x < 3

list_a = [1,2,3]
output_filter = filter(under_3, list_a)
print(output_filter) # 제너레이터
print(list(output_filter)) # 리스트로 반환

<filter object at 0x7c0b586adae0>
[1, 2]

### try ~ except ~ else ~ finally

In [ ]:
# try ~ except ~ else ~ finally 구문
# 정수 입력
try: # 예외 발생할 수 있는 코드 입력
  number = input("원의 반지름을 입력하세요(단, 정수)>")
  pi = 3.14
  number = int(number)
except: # 예외 발생할 때 처리할 코드
  print("정수를 입력해주시겠어요?")
else: # 예외 발생하지 않을 때 처리할 코드
  print("원의 반지름", number)
  print("원의 둘레", 2*pi*number)
  print("원의 넓이", pi*number*number)
finally:
  print("하여튼 프로그램이 정상적으로 종료되었어요")

원의 반지름을 입력하세요(단, 정수)>5
원의 반지름 5
원의 둘레 31.400000000000002
원의 넓이 78.5
하여튼 프로그램이 정상적으로 종료되었어요

In [ ]:
# 실수 입력
try: # 예외 발생할 수 있는 코드 입력
  number = input("원의 반지름을 입력하세요(단, 정수)>")
  pi = 3.14
  number = int(number)
except: # 예외 발생할 때 처리할 코드
  print("정수를 입력해주시겠어요?")
else: # 예외 발생하지 않을 때 처리할 코드
  print("원의 반지름", number)
  print("원의 둘레", 2*pi*number)
  print("원의 넓이", pi*number*number)
finally:
  print("하여튼 프로그램이 정상적으로 종료되었어요")

원의 반지름을 입력하세요(단, 정수)>5.5
정수를 입력해주시겠어요?
하여튼 프로그램이 정상적으로 종료되었어요

In [ ]:
# 문자 입력
try: # 예외 발생할 수 있는 코드 입력
  number = input("원의 반지름을 입력하세요(단, 정수)>")
  pi = 3.14
  number = int(number)
except: # 예외 발생할 때 처리할 코드
  print("정수를 입력해주시겠어요?")
else: # 예외 발생하지 않을 때 처리할 코드
  print("원의 반지름", number)
  print("원의 둘레", 2*pi*number)
  print("원의 넓이", pi*number*number)
finally:
  print("하여튼 프로그램이 정상적으로 종료되었어요")

원의 반지름을 입력하세요(단, 정수)>5cm
정수를 입력해주시겠어요?
하여튼 프로그램이 정상적으로 종료되었어요

# 예외객체

In [ ]:
# 예외 정보를 저장하는 객체
# 정수 입력
try:
  number = input("원의 반지름을 입력하세요(단, 정수)>")
  pi = 3.14
  number = int(number)
  print("원의 반지름", number)
  print("원의 둘레", 2*pi*number)
  print("원의 넓이", pi*number*number)
except Exception as exception: # 예외객체
  print("예외 종류: ", type(exception))
  print("예외 객체: ", exception)

원의 반지름을 입력하세요(단, 정수)>5
원의 반지름 5
원의 둘레 31.400000000000002
원의 넓이 78.5

In [ ]:
# 실수 입력
try:
  number = input("원의 반지름을 입력하세요(단, 정수)>")
  pi = 3.14
  number = int(number)
  print("원의 반지름", number)
  print("원의 둘레", 2*pi*number)
  print("원의 넓이", pi*number*number)
except Exception as exception: # 예외객체
  print("예외 종류: ", type(exception))
  print("예외 객체: ", exception)

원의 반지름을 입력하세요(단, 정수)>5.5
예외 종류:  <class 'ValueError'>
예외 객체:  invalid literal for int() with base 10: '5.5'

In [ ]:
# 문자 입력
try:
  number = input("원의 반지름을 입력하세요(단, 정수)>")
  pi = 3.14
  number = int(number)
  print("원의 반지름", number)
  print("원의 둘레", 2*pi*number)
  print("원의 넓이", pi*number*number)
except Exception as exception: # 예외객체
  print("예외 종류: ", type(exception))
  print("예외 객체: ", exception)

원의 반지름을 입력하세요(단, 정수)>5cm
예외 종류:  <class 'ValueError'>
예외 객체:  invalid literal for int() with base 10: '5cm'

## 예외구분

In [ ]:
# 정상 실행 = 아무 예외 상황 없음
# 정수 4 입력
a = [1,2,3,4,5] # 0 ~ 4
try:
  number = int(input("정수를 입력하세요> "))
  print("{} 번째 요소는 {}입니다.".format(number, a[number]))
except Exception as exception: # 예외객체
  print("예외 종류: ", type(exception))
  print("예외 객체: ", exception)

정수를 입력하세요> 4
4 번째 요소는 5입니다.

In [ ]:
# 여러가지 예외 상황 (2가지)
# 1 번째 예외 상황: 정수가 아닌 문자열 입력 (4번째라고 입력)
a = [1,2,3,4,5] # 0 ~ 4
try:
  number = int(input("정수를 입력하세요> "))
  print("{} 번째 요소는 {}입니다.".format(number, a[number]))
except Exception as exception: # 예외객체
  print("예외 종류: ", type(exception))
  print("예외 객체: ", exception)

정수를 입력하세요> 4번째
예외 종류:  <class 'ValueError'>
예외 객체:  invalid literal for int() with base 10: '4번째'

In [ ]:
# 2 번째 예외 상황: 인덱스에 없는 정수 번호를 입력한 경우 (10 입력)
a = [1,2,3,4,5] # 0 ~ 4
try:
  number = int(input("정수를 입력하세요> "))
  print("{} 번째 요소는 {}입니다.".format(number, a[number]))
except Exception as exception: # 예외객체
  print("예외 종류: ", type(exception))
  print("예외 객체: ", exception)

정수를 입력하세요> 10
예외 종류:  <class 'IndexError'>
예외 객체:  list index out of range

In [ ]:
# 예외 구분
# 1 번째 예외 상황: 정수가 아닌 문자열 입력 (4번째라고 입력)
a = [1,2,3,4,5] # 0 ~ 4
try:
  number = int(input("정수를 입력하세요> "))
  print("{} 번째 요소는 {}입니다.".format(number, a[number]))
except ValueError: # 1 번째 예외 상황: 정수가 아닌 문자열 입력 (4번째라고 입력)
  print("정수를 입력주시겠어요?")
except IndexError: # 2 번째 예외 상황: 인덱스에 없는 정수 번호를 입력한 경우 (10 입력)
  print("정수를 잘 입력하셨지만 인덱스 범위에 있는 정수를 입력해주세요")

정수를 입력하세요> 4번째
정수를 입력주시겠어요?

In [ ]:
# 2 번째 예외 상황: 인덱스에 없는 정수 번호를 입력한 경우 (10 입력)
a = [1,2,3,4,5] # 0 ~ 4
try:
  number = int(input("정수를 입력하세요> "))
  print("{} 번째 요소는 {}입니다.".format(number, a[number]))
except ValueError: # 1 번째 예외 상황: 정수가 아닌 문자열 입력 (4번째라고 입력)
  print("정수를 입력주시겠어요?")
except IndexError: # 2 번째 예외 상황: 인덱스에 없는 정수 번호를 입력한 경우 (10 입력)
  print("정수를 잘 입력하셨지만 인덱스 범위에 있는 정수를 입력해주세요")
# 하지만 try 구문에서 코드를 계속 입력한다고 가정
# 어떤 예외가 발생할지 모름 = 대처가 안됨

정수를 입력하세요> 10
정수를 잘 입력하셨지만 인덱스 범위에 있는 정수를 입력해주세요

In [ ]:
# 3번째 예외상황
# 예외 조건에 일치하는 것이 없다면 당연히 예외가 발생하며 프로그램이 강제 종료
# 3 번째 예외 상황: 식별자에 없는 이름 사용 (4 입력)
a = [1,2,3,4,5] # 0 ~ 4
try:
  number = int(input("정수를 입력하세요> "))
  print("{} 번째 요소는 {}입니다.".format(number, a[number]))
  예외발생해라()
except ValueError: # 1 번째 예외 상황: 정수가 아닌 문자열 입력 (4번째라고 입력)
  print("정수를 입력주시겠어요?")
except IndexError: # 2 번째 예외 상황: 인덱스에 없는 정수 번호를 입력한 경우 (10 입력)
  print("정수를 잘 입력하셨지만 인덱스 범위에 있는 정수를 입력해주세요")

정수를 입력하세요> 4
4 번째 요소는 5입니다.

NameError: name '예외발생해라' is not defined

In [ ]:
# 예상할 수 없는 예외도 대처
# 정수 4 입력
a = [1,2,3,4,5] # 0 ~ 4
try:
  number = int(input("정수를 입력하세요> "))
  print("{} 번째 요소는 {}입니다.".format(number, a[number]))
  예외발생해라()
except ValueError as exception: # 1 번째 예외 상황: 정수가 아닌 문자열 입력 (4번째라고 입력)
  print("정수를 입력주시겠어요?")
  print("예외 객체: ", exception)
except IndexError as exception: # 2 번째 예외 상황: 인덱스에 없는 정수 번호를 입력한 경우 (10 입력)
  print("정수를 잘 입력하셨지만 인덱스 범위에 있는 정수를 입력해주세요")
  print("예외 객체: ", exception)
except Exception as exception: # 3 번째 예외 상황: 식별자에 없는 이름 사용 (4 입력)
  print("예외 종류: ", type(exception))
  print("예외 객체: ", exception)

정수를 입력하세요> 4
4 번째 요소는 5입니다.
예외 종류:  <class 'NameError'>
예외 객체:  name '예외발생해라' is not defined

# 클래스

In [ ]:
# 객체 생성
# 한 명의 농구 선수가 3 개의 속성을 가짐
players = [
    {"name": "정대만", "point3": 24, "point2": 6, "ft": 3},
    {"name": "강백호", "point3": 0, "point2": 4, "ft": 0},
    {"name": "서태웅", "point3": 12, "point2": 16, "ft": 5}
]
for player in players:
  score_sum = player["point3"] + player["point2"] + player["ft"]
  print(player["name"], score_sum)
# 딕셔너리를 만들 때 키와 값을 입력해야 하고, 키를 잘못 입력할 가능성이 있음

정대만 33
강백호 4
서태웅 33

In [ ]:
# 함수로 객체 만들기
def create_player(name, point3, point2, ft):
  return {"name": name,
          "point3": point3,
          "point2": point2,
          "ft": ft}
players = [
    create_player("정대만", 24, 6, 3),
    create_player("강백호", 0, 4, 0),
    create_player("서태웅", 12, 16, 5)
]
for player in players:
  score_sum = player["point3"] + player["point2"] + player["ft"]
  print(player["name"], score_sum)
  # 딕셔너리를 직접 입력할 때보다 쉽고, 키를 잘못 입력하는 실수를 하지 않음

정대만 33
강백호 4
서태웅 33

In [ ]:
# 코드 분리
# 객체와 관련된 기능을 위로, 객체를 사용하는 코드를 아래로 작성하여 구분

# 객체 관련 코드
def create_player(name, point3, point2, ft):
  return {"name": name,
          "point3": point3,
          "point2": point2,
          "ft": ft}
def score_sum(player): # 점수의 합을 구하는 기능을 함수로 분리
  return player["point3"] + player["point2"] + player["ft"]

# 객체 사용 코드
players = [
    create_player("정대만", 24, 6, 3),
    create_player("강백호", 0, 4, 0),
    create_player("서태웅", 12, 16, 5)
]
for player in players:
  print(player["name"], score_sum(player))

정대만 33
강백호 4
서태웅 33

In [ ]:
# 클래스 - 객체를 조금 더 효율적으로 생성
class Player:
  # 생성자 함수 형태 - 객체 생성할 때 처리할 내용 작성
  def __init__(self, name, point3, point2, ft):
    self.name = name
    self.point3 = point3
    self.point2 = point2
    self.ft = ft

# 클래스 이름 = 생성자 함수를 이용하여 객체 생성
# name, point3, point2, ft 순서대로 입력
players = [
    Player("정대만", 24, 6, 3),
    Player("강백호", 0, 4, 0),
    Player("서태웅", 12, 16, 5)
]

print(players) # 인스턴스 3 개
print(players[0]) # 1 번 인스턴스
# 1 번 인스턴스 속성
print(players[0].name)
print(players[0].point3)
print(players[0].point2)
print(players[0].ft)

[<__main__.Player object at 0x7c0b59f72dd0>, <__main__.Player object at 0x7c0b586ae8c0>, <__main__.Player object at 0x7c0b586aee00>]
<__main__.Player object at 0x7c0b59f72dd0>
정대만
24
6
3